* {
  box-sizing: border-box;
  margin: 0px;
  font-family: cursive;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  background-color: beige;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.play-area {
  display: inline-block;
  margin: 0 20px;
}

.label {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: black 3px 4px 8px;
}

#grid2 div {
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 10px;
  margin-bottom: 20px;
}

.grid div {
  width: 50px;
  height: 50px;
  background-color: lightgreen;
  border: 1px solid #ccc;
  cursor: pointer;
}

#grid1,
#grid2 {
  pointer-events: none;
}

#grid1 div,
#grid2 div {
  pointer-events: auto;
}
.grid div:hover {
  background-color: lightblue;
}

.grid div.disabled {
  cursor: not-allowed;
  background-color: lightgreen;
}

.button.blue {
  background-color: rgb(56, 56, 255);
  color: white;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}
#restartButton:hover {
  box-shadow: inset 1px 1px 5px white;
}
#randomButton:hover {
  box-shadow: inset 1px 1px 5px white;
}

.red {
  background-color: rgb(238, 43, 43);
  color: white;
}

.yellow {
  background-color: rgb(233, 233, 58);
  color: black;
}

.blue {
  background-color: rgb(56, 56, 255);
  color: white;
}

#statusBox {
  margin: 25px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: 3px solid #ccc;
  background-color: rgb(194, 119, 94);
  border-radius: 10px;
  width: 38%;
}

#restartButton {
  background-color: gray;
  color: white;
}
#scoreBoard {
  margin-top: 20px;
  text-align: center;
}

#scoreBoard table {
  width: 100%;
  border-collapse: collapse;
}

#scoreBoard th {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: whitesmoke;
}
#redScore {
  background-color: rgb(238, 43, 43);
  font-weight: 900;
  font-size: 30px;
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
}
#blueScore {
  background-color: rgb(56, 56, 255);
  font-weight: 900;
  font-size: 30px;
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
}
